<!doctype html>
<html lang="en">
   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <link href="https://cdn.bootcss.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
      <!-- Material Design for Bootstrap fonts and icons -->
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">

      <!-- <link href="https://cdn.bootcss.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet"> -->

      <!-- Material Design for Bootstrap CSS -->
      <!-- <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous"> -->

      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <title>上天台</title>

<style>
h3 {
   margin-top: 20px;
   text-align: center;
}
   .chart {
      display: block;
      width: 100%;
      height: 60vh;
   }
</style>

   </head>
   <body>
      <header>
         <div class="navbar navbar-dark bd-navbar bg-dark shadow-sm">
            <a href="/" class="navbar-brand d-flex align-items-center">
               <i class="fas fa-coins"></i>
               <strong>上天台</strong>
            </a>
         </div>
      </header>

      <div class="row">


      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
         <div class="sidebar-sticky">
            <ul class="nav flex-column">
               <li class="nav-item" style="margin-top: 20px">
                  <a class="nav-link active" href="/">
                     <i class="fas fa-home"></i>
                     Dashboard
                  </a>
               </li>
            </ul>
         </div>
      </nav>

      <main class="col-md-9 ml-sm-auto col-lg-10 px-4">

      {% block page_content %}

      {% endblock %}
      </main>

      </div>
      <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
      <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
      <script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script>
   </body>

</html>
